<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Adrine's site</title>
</head>
<body>
    <h1>About me</h1>
    <p>Hi, I'm Adrine, but you can call me Adu :) <br/>
        It's a pleasure to meet you!<br/>
        
        I'm a frontend developer and a programmer based in Kigali, Rwanda.<br/> I am passionate about building appealing, compatible, and interactive designs.<br/>
        
        Besides that, I am a proactive, communicative, and highly motivated person. <br/>I pay high attention to details and I am great team player.<br/>
        
        My hobbies include learning new skills, connecting and vibing with people, <br/>photographing, listening to music, drawing, and being a part of activities.<br/>
    </p>
</body>
</html>