<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrine's site</title>
</head>
<body>
    <h1>MY PROJECTS</h1>
    <a href="https://github.com/adrine-uwera/Student_Management_System" target="_blank">Student Management System</a>
    <p>This system allows staff to add student's details in the school's records.</p><br>

    <a href="https://github.com/AdrineUWERA/heroes_website" target="_blank">Heroes website</a>
    <p>A website dedicated to Xmen heroes. #ToNeverStopSavingTheWorld</p>
</body>
</html>